*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'montserrat';
    color: #fff;
}
html,body{
    height: 100%;
    width: 100%;
}
#nav{
    height: 145px;
    width: 100%;
    /* background-color: red; */
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding: 0 150px;
    gap: 45px;
    position: fixed;
    z-index: 99;
}
#nav img{
    height: 75px;
}
#nav h4{
    text-transform: uppercase;
    font-weight: 500;
}
video{
    height: 100%;
    width: 100%;
    object-fit: cover;
    z-index: -1;
    position:fixed;
}
#main{
    position: relative;
    background-color: rgba(0, 0, 0, 0.37);
}
#page1{
    height: 100vh;
    width: 100%;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    z-index: 10;
}
#page1 h1{
    font-size: 100px;
    font-weight: 900;
    position: relative;
}
#page1 h1::before{
    content: "EAT. DRINK. PLAY.";
    position: absolute;
    color: black;
    top: -2px;
    left: -2px;
    -webkit-text-stroke: 2px #95C11E;
    z-index: -1;
}
#page1 h2{
    font-size: 30px;
    font-weight: 800;
    margin-top: 10px;
    margin-bottom: 20px;
}
#page1 p{
    font-size: 20px;
    font-weight: 500;
    width: 40%;
}
#page2{
    min-height: 100%;
    width: 100%;
    z-index: 10;
}
#cursor{
    height: 15px;
    width: 15px;
    background-color: #96c11ef5;
    position: fixed;
    border-radius: 50%;
    z-index: 99;
}
#cursor-blr{
    height: 300px;
    width: 300px;
    background-color: #96c11e31;
    position: fixed;
    border-radius: 50%;
    z-index: 9;
    filter: blur(40px);
}

#scroller{
    /* background-color: red; */
    white-space: nowrap;
    overflow-x: auto;
    overflow-y: hidden;
    position: relative;
    z-index: 10;
}
#scroller::-webkit-scrollbar{
    display: none;
}
#scroller-in{
    display: inline-block;
    white-space: nowrap;
    animation-name: scroll;
    animation-duration: 30s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}

#scroller h4{
    display: inline-block;
    font-size: 120px;
    font-weight: 900;
    font-family: gilroy;
    margin-right: 10px;
    color: transparent;
    -webkit-text-stroke: 2px #95C11E;
    transition: all linear 0.5s;
}
#scroller h4:hover{
color: #95C11E;
}
@keyframes scroll {
    from{
        transform: translateX(0);
    }    
    to{
        transform: translateX(-100%) ;
    }
}
#about-us{
    height: 40vh;
    width: 100%;
    /* background-color: red; */
    display: flex;
    padding: 0 50px;
    align-items: center;
    justify-content: space-around;
    position: relative;
}

#about-us img{
    height: 200px;
    width: 200px;
    border-radius: 20px;
    object-fit: cover;
}
#about-us-in{
    width: 50%;
    text-align: center;
}
#about-us-in h3{
    font-size: 54px;
    font-weight: 800;
    margin-bottom: 40px;
}
#about-us-in p{
    font-size: 20px;
    line-height: 26px;
}
#cards-container{
    /* background-color: red; */
    height: 60vh;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 70px;
}
.card{
    height: 80%;
    width: 24%;
    /* background-color: blue; */
    border-radius: 20px;
    background-size: cover;
    background-position: center;
    overflow: hidden;
    transition: all ease 0.6s;
    position: relative;
}
#card1{
    background-image:url(card1.avif);
}
#card2{
    background-image:url(card2.webp);
}
#card3{
    background-image:url(card3.avif);
}
.overlay{
    height: 100%;
    width: 100%;
    background-color:#95C11E;
    padding: 30px;
    padding-top: 160px;
    opacity: 0;
    transition: all ease 0.6s;
    position: absolute;
    top: 0;
    left: 0;
    
}
.overlay h4{
    color: #000;
    font-size: 40px;
    font-weight: 800;
    text-transform: uppercase;
    white-space: nowrap;
    margin-bottom: 20px;
}
.overlay p{
    color: #000;
    font-size: 18px;
}
.overlay:hover {
    opacity: 1;
}
#green-div{
    height: 30vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: linear-gradient(to left bottom, #172341,#ACE022);
}
#green-div h4{
    width: 45%;
    font-size: 27px;
    color: #000;
    line-height: 50px;
    text-align: center;
    text-transform: uppercase;
    font-weight: 800;
}
#green-div img{
    height: 100%;
    object-fit: cover;
    width: 14%;
}
#page3{
    height: 100vh;
    width: 100%;
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}
#page3>p{
    font-size: 35px;
    font-weight: 700;
    width: 60%;
    line-height: 45px;
    text-align: center;
}
#page3 img{
    position: absolute;
    height: 60px;
}
#page3 #colon1{
    left: 15%;
    top: 25%;
}
#page3 #colon2{
    right: 15%;
    bottom: 25%;
}
#page4{
    height: 30vh;
    width: 100%;
    /* background-color: red; */
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 70px;
    position: relative;
}
.elem{
    height: 70%;
    width: 26%;
    overflow: hidden;
    border-radius: 20px;
    position: relative;

}
.elem h2{
    height: 100%;
    width: 100%;
    background-color: #95C11E;
    display: flex;
    color: #000;
    align-items: center;
    justify-content: center;
    font-size: 40px;
    font-weight: 800;
    position: absolute;
    z-index: 10;
    transition: all ease 0.5s;
    scale: 1.1;
}
.elem img{
    height: 100%;
    width: 100%;
    object-fit: cover;
}
.elem:hover h2{
    color: #fff;
    background-color: transparent;
}
.elem:hover img{
    scale: 1;
}
#page4 h1{
    font-size: 70px;
    position: absolute;
    top: -15%;
    font-weight: 100;
    color: #000;
    font-family: 'gilroy';
    -webkit-text-stroke: 2px white;
}
#footer{
    height: 40vh;
    width: 100%;
    /* background:#ACE022; */
    background: linear-gradient(to left bottom,#119F3A,#ACE022);
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 100px;
    color: #000;
}
#footer img{
    height: 75px;
}
